body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
  text-align: center;
}

.light-mode {
  background: #f0f0f0 !important;
  color: #000 !important;
}

header {
  padding: 25px 10px;
}

.title {
  font-size: 33px;
  font-weight: bold;
}

nav a {
  margin: 5px;
}

.btn {
  background: #007bff;
  padding: 12px 22px;
  border-radius: 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  width: 85%;
  border-radius: 12px;
  margin: 12px auto;
}

/* Footer icons */
footer {
  padding: 20px;
  margin-top: 30px;
}
footer a {
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
}

/* Loading Screen */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  z-index: 9999;
}

/* Logo */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #00aaff;
  margin-bottom: 5px;
}
